.App {
  text-align: center;
}
.--dark-red {
  color: #823c46;
}
.--medium-red {
  color: #d79483;
}
.--Wheat {
  color: #f4d8b4;
}
.--light-green {
  color: #3ab06a;
}
.--dark-green {
  color: #23804c;
}
