body {
  background-color: #823c46;
  color: #f4d8b4;
}
.App {
  text-align: center;
}
button {
  background-color: #23804c;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  padding: 8px;
  color: #f4d8b4;
}
.--dark-red {
  color: #823c46;
}
.--medium-red {
  color: #d79483;
}
.--Wheat {
  color: #f4d8b4;
}
.--light-green {
  color: #3ab06a;
}
.--dark-green {
  color: #23804c;
}
